name: Automated Tests

on:
  pull_request:
    branches:
      - "main"

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: npm

      - name: Install
        run: npm ci

      - name: Lint
        run: npm run lint
        if: ${{ hashFiles('**/.eslintrc*', '**/eslint.config.*') != '' }}

      - name: Test
        run: npm run test:ci
